.grid-background {
    width: 300px; /* Adjust to the desired width */
    height: 400px; /* Adjust to the desired height */
    background-image: linear-gradient(to right, gray 1px, transparent 1px),
                      linear-gradient(to bottom, gray 1px, transparent 1px);
    background-size: 20px 20px; 
    position: relative;
    background-color: #000000;
   
  }
  .card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #000000;
    position: relative;
  }
  